{% from 'bootstrap5/form.html' import render_form %}
{% extends 'base.html' %}

{% block title %}CodeCrypter{% endblock %}

{% block content %}
<div class="container" style="display:flex;
                flex-direction:column;
                height:105vh;
                width:100%;
                color: #FFFFFF;
                justify-content: center;
                align-items: center;">
    <h1>Password Generation and Encryption</h1>
    <form method="POST" id="myForm">
        {{ form2.hidden_tag() }}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label for="password_length">Password Length:</label>
                </div>
                <div class="col-md-6">
                    <input type="number" id="password_length" name="password_length" value="{{ form2.password_length.data }}" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="num_small_letters">Number of Small Letters:</label>
                </div>
                <div class="col-md-6">
                    <input type="number" id="num_small_letters" name="num_small_letters" value="{{ form2.num_small_letters.data }}" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="num_capital_letters">Number of Capital Letters:</label>
                </div>
                <div class="col-md-6">
                    <input type="number" id="num_capital_letters" name="num_capital_letters" value="{{ form2.num_capital_letters.data }}" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="num_digits">Number of Digits:</label>
                </div>
                <div class="col-md-6">
                    <input type="number" id="num_digits" name="num_digits" value="{{ form2.num_digits.data }}" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="num_special_characters">Number of Special Characters:</label>
                </div>
                <div class="col-md-6">
                    <input type="number" id="num_special_characters" name="num_special_characters" value="{{ form2.num_special_characters.data }}" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <center> <button type="button" class="btn btn-primary" id="generateBtn">Generate Password</button></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="generated_password">Generated Password:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="generated_password" name="generated_password" class="form-control" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <center> <button type="button" class="btn btn-primary" id="generateBtn1">Email Unencrypted Password</button></center>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="password">Encrypted Password:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="password" name="password" class="form-control" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                   <center>  <button type="button" class="btn btn-primary" id="generateBtn2">Encrypt</button></center>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <center>  <button type="button" class="btn btn-primary" id="generateBtn3">Email Encrypted Password</button></center>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#generateBtn').click(function() {
            $.ajax({
                type: 'POST',
                url: '/generate',
                data: $('#myForm').serialize(),
                success: function(response) {
                    $('#generated_password').val(response.data);
                },
                
                error: function(error) {
                    console.log(error);
                }
            });
        });

        $('#generateBtn1').click(function() {
            $.ajax({
                type: 'POST',
                url: '/send_unencrypted_mail', // Adjust the URL to match the Flask route for sending unencrypted password through email
                data: $('#myForm').serialize(),
                success: function(response) {
                    alert('Unencrypted password sent through email.'); // Notify user upon successful sending
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

        $('#generateBtn2').click(function() {
            $.ajax({
                type: 'POST',
                url: '/generate',
                data: $('#myForm').serialize(),
                success: function(response) {
                    $('#password').val(response.data); // Assuming this will handle encryption and return encrypted password
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

        $('#generateBtn3').click(function() {
            $.ajax({
                type: 'POST',
                url: '/send_encrypted_mail', // Adjust the URL to match the Flask route for sending encrypted password through email
                data: $('#myForm').serialize(),
                success: function(response) {
                    alert('Encrypted password sent through email.'); // Notify user upon successful sending
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>

{% endblock %}
