{% extends 'base.html' %}

{% block title %}CodeCrypter{% endblock %}

{% block content %}
    <div id="Intro" style="display:flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        height:100vh;
        width:100%">
        <h1 style="color:white; font-family:serif ; font-size: 3rem; font-weight:bold;">Welcome to CodeCryptor</h1>
        <p style="color: white; font-weight: bold;">Afraid of your email ids getting hacked?? 
            <br> Use our Password Generator 'CodeCrypter'
            <br> Protect your account from Hackers
        </p>
    </div>
    

{% endblock %}